{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block body %}

<div class = "container-fluid my-4 px-0">
    <img src="/static/img/about.JPEG" class="d-block w-100" alt="...">
    <H1>About Us 📞</H1>
    <T1> ToDo Task Manager  is a powerful to-do task management platform with a simple and completely customizable user interface. It allows you to quickly and easily track and organize all of your to-do tasks. Create custom filters so you can easily organize and switch between to-do lists</T1>
    <P1> HQ - 3rd floor , Poonam Plaza , Dayal Bagh , Agra , Uttar Pradesh 
        pin code : 282005 </P1>
</div>
{% endblock body %}

